<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>  
    <key>items</key>  
    <array>  
        <dict>  
            <key>assets</key>  
            <array>  
                <dict>  
                    <key>kind</key>  
                    <string>software-package</string>  
                    <key>url</key>  
                    <string>https://uc5b48d174e5bd08f0072a53cdb8.dl.dropboxusercontent.com/cd/0/get/A4zTVwAZs7nW7MLtEFj8vTYAy7GevvDbPkLrQfiRHiOohMvRWWJtSghv0fNEGBXLhXaKeJL3HoyFNnTKu7OyJhB7WfeZKhVAXQwbeVkd3H93rntsfyx6KsDXbB3EJLq2xxY/file?dl=1#</string>  
                </dict>  
            </array>  
            <key>metadata</key>  
            <dict>  
                <key>bundle-identifier</key>  
                <string>iOsGG.com</string>  
                <key>bundle-version</key>  
                <string>1.0</string>  
                <key>kind</key>  
                <string>software</string>  
                <key>title</key>  
                <string>unc0ver(花落無痕)</string>  
            </dict>  
        </dict>  
    </array>  
</dict>  
</plist> 
