<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>  
    <key>items</key>  
    <array>  
        <dict>  
            <key>assets</key>  
            <array>  
                <dict>  
                    <key>kind</key>  
                    <string>software-package</string>  
                    <key>url</key>  
                    <string>https://uc7011a8fc96e0625867501f3391.dl.dropboxusercontent.com/cd/0/get/A4yCJVGX3ghtgO5ea74UWu0qz6Gs8MxComtEQJ01XLga8_9keeKMO19LibsEfej6FrYqdNCL7VbPa0xe6GMJ8N7tF5StxjkWs0gETRF7BhcRBK-6SdVaiJrVHq0FcmuDgMs/file?_download_id=2593141915026489037834548233795176893759945946290876657588603964&_notify_domain=www.dropbox.com&dl=1</string>  
                </dict>  
            </array>  
            <key>metadata</key>  
            <dict>  
                <key>bundle-identifier</key>  
                <string>iOsGG.com</string>  
                <key>bundle-version</key>  
                <string>1.0</string>  
                <key>kind</key>  
                <string>software</string>  
                <key>title</key>  
                <string>unc0ver(花落無痕)</string>  
            </dict>  
        </dict>  
    </array>  
</dict>  
</plist> 
